body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px) {
    .news-input {
        width:50%;
    }
}

img {
    margin: 15px;
}

p {
    margin: 5px;
}

.email-link{
    text-decoration: none;
    
}